#sign-in
  %h3 Forgot your password?

  = semantic_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = f.semantic_errors
    = f.inputs do
      = f.input :email, label: false, input_html: { placeholder: 'Email', class: 'input-xlarge' }
    = f.action :submit, label: 'Send me reset password instructions', button_html: { class: 'btn btn-primary' }

  = render :partial => "devise/shared/links"
