#app.clearfix
  #sidebar
    %ul#feeds
      = render @feeds
    #subscribe
      %a{:href => '#'}
        %i.icon-plus
        Subscribe
      %input{:type => 'text', :placeholder => 'e.g. http://feeds.feedburner.com/37signals'}
    %a#feedback{:href => 'mailto:eric@ejholmes.net', target: '_blank'}
      %i.icon-comment
      Feedback

  #main
    .pull-right
      = link_to 'Sign out', destroy_user_session_path, method: :delete

    #controls
      .btn-group
        = link_to 'All', items_path, class: %w[btn read].tap { |classes| classes << 'active' unless request.params[:unread].present? }
        = link_to 'Unread', unread_items_path, class: %w[btn unread].tap { |classes| classes << 'active' if request.params[:unread].present? }

      - if @feed
        .btn-group
          = link_to 'Unsubscribe', unsubscribe_path(@feed), method: :delete, class: 'btn'

      .btn-group
        = link_to '<i class="icon-check"></i> Mark all read'.html_safe, read_all_items_path, method: :put, class: 'btn mark-all-read'
    %ul#items
      = render @items
