!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=Edge,chrome=1'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %title
      = content_for?(:title) ? yield(:title) : 'Reader'
    = javascript_include_tag 'application.js'
    = javascript_include_tag 'http://js.pusher.com/1.12/pusher.min.js'
    = csrf_meta_tags
    :coffee
      window.pusher = new Pusher('#{Pusher.key}')

    /[if lt IE 9]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js', :type => 'text/javascript'}

    = stylesheet_link_tag 'application', :media => 'all'

  %body
    #content.content
      .messages
        - if flash[:notice] || flash[:alert]
          - if flash[:notice]
            %p.flash.alert.alert-info
              %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert'} ×
              = flash[:notice]
          - if flash[:alert]
            %p.flash.alert
              %button{:type => 'button', :class => 'close', 'data-dismiss' => 'alert'} ×
              = flash[:alert]

      = yield
